@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Montserrat", sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: #081a35;
}

::-webkit-scrollbar-thumb {
  background: #013f3c7f;
  border-radius: 10px;
}

i {
  cursor: pointer;
}

i:hover {
  color: white;
}

.s {
  animation: s 1s infinite;
}

@keyframes s {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.5;
  }
}

.v {
  animation: v 1s infinite;
}

@keyframes v {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.g {
  animation: g 1s infinite;
}

@keyframes g {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

input,
textarea {
  height: 40px;
  border: 1px solid rgba(128, 128, 128, 0.415);
  width: 100%;
  padding-left: 10px;
}

input:focus {
  outline: none;
  border: 2px solid rgb(44, 43, 43);
}

textarea {
  height: 100px;
}
